
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{

    var home = CurrentPage.Site();


}


@if (home.Children.Where("Visible").Any())
{
    @* For each child page under the home node, where the property umbracoNaviHide is not True *@
foreach (var childPage in home.Children.Where("Visible"))
{
    <div class="col-xs-1 col-sm-2" id="btmNav">
        @if (childPage.Children.Where("Visible").Any())
        {
            <span>@childPage.Name</span>
                @childPages(childPage.Children)
        }
    </div>
    }
}

@helper childPages(dynamic pages)
{
    @* Ensure that we have a collection of pages *@
if (pages.Any())
{
    <ul>
        @foreach (var page in pages.Where("Visible"))
        {
            <li>
                <a href="@page.Url">@page.Name</a>
            </li>
        }
    </ul>
}
}
<div class="col-xs-2 col-sm-2" id="btmNav">
    <span>Find us</span>
    <ul>
        <li>
            <a href="https://twitter.com/umbracoproject" target="_blank">Twitter</a>
        </li>
        <li>
            <a href="https://www.facebook.com/Umbraco" target="_blank">Facebook</a>
        </li>
        <li>
            <a href="http://umbraco.com/?utm_source=core&utm_medium=starterkit&utm_content=topic-link&utm_campaign=fanoe" target="_blank">Umbraco.com</a>
        </li>
    </ul>
</div>
<div class="companyInfo">
    
    <ul>
        <li for="companyName"></i>&copy;@Umbraco.Content(1058).companyName</li>
        <li for="companyEmail">&#9993;<a href="mailto:@(@Umbraco.Content(1058).companyEmail)">@(@Umbraco.Content(1058).companyEmail)</a></li>
        <li for="companyAddress">@Umbraco.Content(1058).companyAddress</li>
        <li for="companyPhone">&#9743; Phone: @Umbraco.Content(1058).companyPhone</li>
        <li for="companyCVR">CVR: @Umbraco.Content(1058).companyCVR</li>
    </ul>

</div>
