@inherits Umbraco.Web.Mvc.UmbracoViewPage<SchoolProjectUmbraco.Models.CompanyModel>
<div class="companyInfo">
    <ul>
        <li for="companyName"><i class="fa fa-copyright"></i>@Umbraco.Field("companyName")</li>
        <li for="companyEmail">@Umbraco.Field("companyEmail")</li>
        <li for="companyAddress">@Umbraco.Field("companyAddress")</li>
        <li for="companyPhone">@Umbraco.Field("companyPhone")</li>
        <li for="companyCVR">@Umbraco.Field("companyCVR")</li>

    </ul>
  
</div>